//header scss file

.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-header {
  li {
    list-style-type: none;
  }
  img {
    height: 40px;
    padding: 0;
    margin-top: -10px;
  }
}

.navbar-header-logo {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 15px;
  background-image: url(/app/assets/images/logo_thing_pink_white.png);
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.navbar-symbol {
  padding-left: 10px;
  font-size: 16px;
}

.navbar-default .navbar-nav {
  .active a {
      background-color: transparent;
    &:focus {
      background-color: transparent;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

.nav.navbar-nav.navbar-right {
  text-align: center;
}
