//home scss file

.home-title {
  color: white;
  font-size: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 100%);
}

.home-buttons-area {
  font-size: 50px;
  color: $text;
  top: 40%;
  position: relative;
}

.home-go {
  position: relative;
  text-align: center;
  margin-top: 200px;
  button {
    font-size: 50px;
    width: 75%;
    height: 350px;
    margin: auto;
    border-radius: 10px !important;
    &:hover {
      color: $text;
    }
  }
}


// media querie for devices smaller than 480px
@media screen and (max-width: 480px) {
  .home-go-info {
    margin-bottom: 100px;
  }

  .home-title {
    font-size: 40px;
  }

  .home-go {
    button {
      font-size: 30px;
      height: 200px;
    }
  }

  .home-go-svg {
    margin-top: 75px;
  }

  .home-go-info {
    margin-top: 50px;
  }
}
