//notfound scss file

.notfound-404, .notfound-page {
  text-align: center;
  color: $white;
  text-shadow: 2px 2px 4px $black;
}

.notfound-404 {
  font-size: 100px;
  margin-top: 15%;
}

.notfound-page {
  font-size: 35px;
}
