//styles to login page
@import 'variables';

// keyframes used in svg animation
@keyframes dash_one {
  from {
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash_two {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash_three {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash_four {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-display {
  text-align: center;
  width: 50%;
  height: 50%;
}

.svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-25%,-50%);
}

.svg-white, .svg-red, .svg-blue, .svg-green, .svg-yellow {
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px $text;
  width: 30px;
  height: 30px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 1px 1px $grey-ligth;
  cursor: pointer;
  margin: auto;
}

.svg-white {
  background-color: $white;
  &:hover {
    background-color: darken($white, 10%);
    box-shadow: 1px 1px 1px 1px $black;
  }
}

.svg-red {
  background-color: $red;
  &:hover {
    background-color: darken($red, 10%);
    box-shadow: 1px 1px 1px 1px $black;
  }
}

.svg-blue {
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 10%);
    box-shadow: 1px 1px 1px 1px $black;
  }
}

.svg-green {
  background-color: $green;
  &:hover {
    background-color: darken($green, 10%);
    box-shadow: 1px 1px 1px 1px $black;
  }
}

.svg-yellow {
  background-color: yellow;
  &:hover {
    background-color: darken($yellow, 10%);
    box-shadow: 1px 1px 1px 1px $black;
  }
}

.st0 {
  stroke:$white;
  stroke-width:8;
  stroke-miterlimit:10;
}
.st1a, .st1b, .st1c, .st1d {
  stroke-width:3;
  stroke-miterlimit:10;
}

.st1a	{
  stroke-dasharray:160;
  animation: dash_three 5s infinite;
}
.st1b	{
  stroke-dasharray:250;
  animation: dash_three 5s infinite;
}
.st1c	{
  stroke-dasharray:150;
  animation: dash_three 5s infinite;
}
.st1d	{
  stroke-dasharray:250;
  animation: dash_three 5s infinite;
}

#svg-menu-left, #svg-menu-right {
  height: 29%;
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  background-color: $grey-ligth;
  overflow-x: hidden;
  transition: 0.5s;
  transform: translate(0,-50%);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#svg-menu-left {
  left: -50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#svg-menu-right {
  right: -50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#open-close-left-menu, #open-close-right-menu {
  position: absolute;
  top: 50%;
  border-radius: 35%;
  transform: translate(0,-50%);
  width: 75px;
  height: 75px;
  background-color: $grey-ligth;
  cursor: pointer;
}

#open-close-left-menu {
  transition: left .5s;
  left: -25px;
  font-size: 40px;
  line-height: 2;
  padding-left: 30px;
}

#open-close-right-menu {
  transition: right .5s;
  right: -25px;
  font-size: 40px;
  line-height: 2;
  padding-left: 20px;
}
