//module of used variables in scss files

$black: #000000;
$white: #ffffff;
$grey-ligth: #999999;
$error: #f07d73;
$success: #2dbe60;

$box-shadow: rgba(0,0,0,.075);
$borders: #eeeeee;
$text: #555555;

//other variables
$font-family: "franklin-gothic-urw", 'Helvetica Neue', Helvetica, Arial, sans-serif;
