@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,600');
@import './vendor/font-awesome/scss/font-awesome';
@import 'variables';
@import 'login';
@import 'home';
@import 'infodisplay';
@import 'svgdisplay';
@import 'header';
@import 'footer';
@import 'notfound';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html {
  height: 100%;
  font-family: "OpenSans", sans-serif;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  background: $background-blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($background-blue, $black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($background-blue, $black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($background-blue, $black); /* For Firefox 3.6 to 15 */
  background: linear-gradient($background-blue, $black); /* Standard syntax (must be last) */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.margin-zero {
  margin: 0 !important;
}

.btn {
  border-radius: 2px;
}

.spinning-loader {
  border: 8px solid $spinning-loader-grey;
  border-radius: 50%;
  border-top: 8px solid $spinning-loader-blue;
  width: 80px;
  height: 80px;
  margin: 50px auto;
  animation: spin 1.5s linear infinite;
}
